body {
    margin: 7%;
}

h1,
h2,
h3,
li,
a,
p {
    font-family: 'Open Sans',
        sans-serif;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 600;
    text-decoration: underline;
}

h3 {
    font-weight: 600;
}


p {
    font-weight: 400;
}
